@media screen and (max-width: 400px) {
    #header{
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    }
    #contact{
        margin-right: -70px;
    }
    #cv{
        margin-left: -60px;
    }
    #section{
        border: 3px solid white;
    }
    #tommy-box{
        border: 1px solid white;
    }
    #kilian-box{
        border: 1px solid white;
    }
    #petite-box{
        border: 1px solid white;
    }
    #child-box{
        border: 1px solid white;
    }
    #romeo-box{
        border: 1px solid white;
    }

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*img{
    max-width: 100%;
}

#header{
     margin: auto;
     padding: auto;
     text-align: center;
     height: 200px;
     background-color: white;
     #logo{
        height: 500px;
        margin-top: -180px;
    }
   
}
    /*section*/

    #section{
    border-radius: 10px;
    border: 1px solid white;
    height: 500px;
    color: white;
    text-align: center;
    background-image: url(img/sfondo1.jpg);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: black;
    margin-top: 50px;
    font-family: "Sour Gummy", sans-serif;
}

/*intro*/

#start{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100px;
    font-size: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

/*tommy*/

#tommy-box{
        grid-template-rows: auto;
        grid-template-columns: 60% auto;
        border-radius: 10px;
        background-image: url(img/bg-tommy.jpg);
        background-attachment: fixed;
        text-align: center;
        color: white;
    h2{
        font-family: "Edu AU VIC WA NT Pre", serif;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    #p{
        font-size: 20px;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: black;
        font-family: "Roboto", sans-serif;

    }    
    #tommy-png{
        width: 600px;
        flex-direction: row-reverse;
    }
}

#arrow{
        width: 300px;
        float: inline-end;
        margin-bottom: 30px;
   }

   /*kilian*/

   #second{
        display: grid;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 50px;
        font-family: "Roboto", sans-serif;
   }
   
   #kilian-box{
    grid-template-rows: auto;
    grid-template-columns: 60% auto;
    border-radius: 10px;
    background-image: url(img/bg-kilian.jpg);
    background-attachment: fixed;
    text-align: center;
    color: white;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    h2{
        font-family: "Edu AU VIC WA NT Pre", serif;
        font-size: 35px;
    }
    #kilian-png{
        width: 500px;
        
    }
    #kilian-text{
        color: darkblue;
        font-family: "Roboto", sans-serif;
        text-align: center;
    }
}

#arrow2{
    width: 300px;
    margin-bottom: 30px;
    transform: rotate(40deg);
}

   /*petite*/

   #third{
    display: grid;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
   }

   #petite-box{
    
    grid-template-rows: auto;
    grid-template-columns: 60% auto;
    border-radius: 10px;
    background-image: url(img/bg-petite.jpg);
    background-attachment: fixed;
    text-align: center;
    color: white;
    width: auto;
    font-size: 25px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;

    h2{
        font-family: "Edu AU VIC WA NT Pre", serif;
        font-size: 35px;
    }
    #petite-png{
        width: 400px;
    }
    #petite-text{
        color: black;
        font-family: "Roboto", sans-serif;
    }
}
#arrrow3{
    text-align: center;
#arrow3{
    width: 400px;
    margin-bottom: 30px;
    transform: rotate(180deg);
    text-align: center;
}
}

/*child*/

#fourth{
    display: grid;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
   }

#child-box{
    
    grid-template-rows: auto;
    grid-template-columns: 60% auto;
    border-radius: 10px;
    background-image: url(img/bg-child.jpg);
    background-attachment: fixed;
    text-align: center;
    color: white;
    h2{
        font-family: "Edu AU VIC WA NT Pre", serif;
        -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    }
    #p{
        font-size: 21px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    font-family: "Roboto", sans-serif;

    }    
    #child-png{
        width: 500px;
    }
}

#arrow4{
    width: 300px;
    float: inline-end;
    margin-bottom: 30px;
    background-color: white;
   }

   /*romeo*/

   #fifth{
    display: grid;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
   }

#romeo-box{
   
    grid-template-rows: auto;
    grid-template-columns: 60% auto;
    border-radius: 10px;
    background-image: url(img/bg-romeo.jpg);
    background-attachment: fixed;
    text-align: center;
    color: darkblue;
    h2{
        font-family: "Edu AU VIC WA NT Pre", serif;
        -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightblue;
    }
    p{
        font-size: 22px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: lightblue;
    font-family: "Roboto", sans-serif;

    }    
    #romeo-png{
        width: 500px;
    }
}

#instagram{
    width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    word-break:keep-all;
    margin-top: 50px;
    
    h2{
        font-family: "Roboto", sans-serif;
    }
}














